NODE_ENV=development
PORT=4000
APP_NAME=CrowdToLive API
CORS_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb+srv://admin:ZUlf29b5c8LUb5Jd@cluster0.1uwyz.mongodb.net/crowdtolive?retryWrites=true&w=majority&appName=Cluster0&authSource=admin
